.btnCart{
    width: 36.5px;
    height: 36.5px;
    background-color: transparent !important;
    border: 1px white solid !important;
}
svg{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    color: white;
}

#basic-menu ul{
    display: flex;
    flex-direction: column;
    width: auto;
}
#clearBtn{
    display: flex;
    justify-content: flex-end;
}

#clearBtn svg{
    display: flex;
    color: red !important;
}
.emptyCart{
    visibility: hidden;
}