#cardContainer{
    height: 450px !important;
}
#imgItemContainer{
    display: flex;
    justify-content: center;
}
#imgItemContainer img{
    width: 172px;
    height: 172px;
}
h3{
    text-align: center;
    height: 100px;
}
p{
    text-align: center;
}
#btnAddToCart{
    display: flex;
    justify-content: center;
    
}
.btnDetail {
    width: 100%;
    bottom: 0px;
    background-color: rgb(238, 120, 120) !important;

}

.btnDetail a{
    text-decoration: none;
    color: rgb(233, 233, 146) !important;

}

