#navbar{
    display: flex;
    color: whitesmoke;
    background-color: black !important;
    height: 80px;
    justify-content: center;
}
.logo{
    width: 30px;
}
.logo img{
    width: 100%;
}
ul{
    display: flex;
    width: 700px;
    justify-content: space-around;
    list-style:none;
    margin: 0 !important;
}
li{
    width: 150px;
}
li button,menuItem button a,a{
    width: 100%;
    background-color: rgb(238, 120, 120) !important;
    color: rgb(233, 233, 146) !important;
}

#basic-menu ul{
    background-color: black;
}
a{
    border-radius: 4px;
}