#btnCount,#btnCountDarkMode{
    display: flex;
    justify-content: space-between;
    align-self: center;  
    width: 100%;
}

#btnCount p,#btnCountDarkMode p{
    margin: 0 !important;
}
#btnCount button,#btnAddToCart svg{
    color: black;
}

#btnAddToCartDarkMode svg,#btnCountDarkMode button{
    color: white;
}
#btnAddToCartDarkMode{
    display: flex;
    justify-content: center;
}
