#btnCount{
    display: flex;
    justify-content: space-between;
    align-self: center;  
}

#btnCount p{
    margin: 0 !important;
}
#btnCount button{
    color: black;
}
#btnAddToCart svg{
    color: black;
}
